<link href="slider1.css" rel="stylesheet">

<div class="flex">
    <div class="slider">

   
  
        <div >
            <div class="item">
                <img src="../../img/sinDefinir/DSC04177.png">
            </div>
        
            
            <div class="item">
                <img src="../../img/sinDefinir/DSC04179.png">
            </div>
        
        
            <div class="item">
                <img src="../../img/sinDefinir/DSC04180.png">
            </div>
    
        
            <div class="item">
                <img src="../../img/sinDefinir/DSC04181.png">
            </div>
    
            <div class="item">
                <img src="../../img/sinDefinir/DSC04181.png">
            </div>
    
            <div class="item">
                <img src="../../img/sinDefinir/DSC04187.png">
            </div>
    
            <div class="item">
                <img src="../../img/sinDefinir/DSC04188.png">
            </div>
        </div>
        
        
      
      
        
        <!-- <a class="previous" onclick="previousSlide()">&#10094;</a> -->
        <!-- <a class="next" onclick="nextSlide()">&#10095;</a> -->
    </div>
    <div class="fotos">
        <h1>Informacion</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum deleniti accusantium aut dolor atque, nisi, praesentium dignissimos autem reiciendis molestias quisquam alias earum corrupti. Vel distinctio minus porro laborum quidem quis numquam tenetur, consequuntur corporis dolores. Sit pariatur vero, rerum temporibus perspiciatis eos numquam impedit similique magnam sapiente cumque quibusdam esse ex porro cum? Iste nesciunt iusto vero mollitia omnis!</p>
    </div>
</div>

<script src="slider1.js"></script>