<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="flex-c">
        <div class="flex">
            <div class="img-cont">
                <img id="img" src="../../img/sinDefinir/DSC04177.png">
            </div>
            <div class="text-desc">
                <h1>Nombre del inmueble</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Odio voluptatem itaque recusandae, porro laboriosam tenetur
                     quam enim ullam quod blanditiis obcaecati. Qui atque nostrum deserunt ipsum hic, iure provident. Dolorum.</p>
    
            </div>
    
        </div>
        
    </div>
    <div class="flex-c">
        <div class="linea">
        
        </div>
    </div>
    <div class="txt-c">
        <h1>Galeria de imagenes</h1>
    </div>
    

    <div class="flex-c">
        <div class="flex-d">
           
            <div class="img-cont">
                <img id="img2" src="../../img/sinDefinir2/DSC04193.png">
                <img id="img2" src="../../img/sinDefinir2/DSC04191.png">
                <img id="img2" src="../../img/sinDefinir2/DSC04193.png">
                <img id="img2" src="../../img/sinDefinir2/DSC04195.png">
                <img id="img2" src="../../img/sinDefinir3/DSC04198.png">
                <img id="img2" src="../../img/sinDefinir3/DSC04201.png">
                <img id="img2" src="../../img/sinDefinir3/DSC04203.png">
                <img id="img2" src="../../img/sinDefinir3/DSC04212.png">
            </div>

        </div>
    </div>
    
   
   
    
</body>
<script src="carrusel.js"></script>
</html>