<link href="slider1.css" rel="stylesheet">


<div class="slider">
   
  

  
  
 
    <div class="item">
        <img src="../../img/Notaria30/1.jpg">
    </div>

   
    <div class="item">
        <img src="../../img/Notaria30/2.jpg">
    </div>

    <div class="item">
        <img src="../../img/Notaria30/3.jpg">
    </div>

    <div class="item">
        <img src="../../img/Notaria30/4.jpg">
    </div>

    <div class="item">
        <img src="../../img/Notaria30/5.jpg">
    </div>

    <div class="item">
        <img src="../../img/Notaria30/1.jpg">
    </div>

   
    <div class="item">
        <img src="../../img/Notaria30/5.jpg">
    </div>

    <div class="item">
        <img src="../../img/Notaria30/6.jpg">
    </div>

    <div class="item">
        <img src="../../img/Notaria30/7.jpg">
    </div>

    <div class="item">
        <img src="../../img/Notaria30/8.jpg">
    </div>

    <div class="item">
        <img src="../../img/Notaria30/9.jpg">
    </div>

    <div class="item">
        <img src="../../img/Notaria30/10.jpg">
    </div>

    <div class="item">
        <img src="../../img/Notaria30/11.jpg">
    </div>
  
  
 
    <a class="previous" onclick="previousSlide()">&#10094;</a>
    <a class="next" onclick="nextSlide()">&#10095;</a>
</div>
<script src="slider1.js"></script>